{% extends './base.html' %}
{% block content %}
<!-- table -->
<table class="table">
  <thead>
    <tr class="d-flex">
      <th scope="col" class="col-1">#</th>
      <th scope="col" class="col-2">Name</th>
      <th scope="col" class="col-1">Capacity</th>
      <th scope="col" class="col-5" colspan="4">Projector Availability</th>
      <th scope="col" class="col-5" colspan="4">Conference Room Availability</th>
    </tr>
  </thead>
  <tbody>
    {% for room in rooms %}
    <tr class="d-flex">
      <th scope="row" class="col-1">{{ room.id }}</th>
      <td class="col-2">
        <a href="/room/{{ room.id }}/">{{ room.name }}</a>
      </td>
      <td class="col-1">{{ room.capacity }}</td>
      {% if room.projector_availability %}
        <td class="col-2" style="color:green;">&#9745;</td>
      {% else %}
        <td class="col-2" style="color:red;">&#9746;</td>
      {% endif %}
<!--      room availability-->
      {% if room.reserved %}
        <td class="col-2" style="color:green;">&#9745;</td>
      {% else %}
        <td class="col-2" style="color:red;">&#9746;</td>
      {% endif %}
<!--   end room availability   -->
      <td class="col-1">
        <a href="{% url 'modify_room' id=room.id %}/">edytuj</a>
      </td>
      <td class="col-1">
        <a href="/room/delete/{{ room.id }}/">usuń</a>
      </td>
      <td class="col-1">
        <a href="/room/reserve/{{ room.id }}/">zarezerwuj</a>
      </td>
    </tr>
    {% empty %}
      <tr><td colspan="6">Brak dostępnych sal</td></tr>
    {% endfor %}
  </tbody>
</table>
<!-- table -->
{% endblock %}
