

<form method="GET" action="{% url 'search_results' %}">

  <h3>Search Conferece Room:</h3>
  <label for="search_date">Start date:</label>
  <input type="date" id="search_date" name="search_date" value="{{today}}" min="{{today}}" max="">
  <label for="search_id">Name:</label>
  <select name="search_id" id="search_id">
    <option value="">None</option>
    {% for room in crooms %}
  <option value="{{room.id}}">{{room.name}}</option>
    {% endfor%}
  </select>
  <label for="search_capacity">Capacity:</label>
  <input type="number" id="search_capacity" name="search_capacity" value="1" min="1" max="{{crooms.capacity_max}}">
  <label for="search_projector">Projector:</label>
  <input type="checkbox" id="search_projector" name="search_projector" checked>
  <input type="submit" value="Search" >


</form><br><br>

 <script>

     const date = new Date(Date.now());
     date.setMonth(date.getMonth() + 0);
     document.querySelector("#end").valueAsDate = date;
     let today = new Date();
     let dd = today.getDate();
     let mm = today.getMonth() + 2; //January is 0!
     let yyyy = today.getFullYear();
        if (dd < 10) {
           dd = '0' + dd;
        }

        if (mm < 10) {
           mm = '0' + mm;
        }

    today = yyyy + '-' + mm + '-' + dd;
    document.querySelector("#search_date").setAttribute("max", today);


  </script>